---
layout: default
title: Posts
---

<div class="home">
   
    <ul class="post-list">
    {% for post in paginator.posts %}
        <li>
          {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
    
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h3>
        <p class="post-excerpt">{{ post.excerpt | markdownify }}</p>
        </li>
    {% endfor %}
    </ul>
    
    {% if paginator.total_pages > 1 %}
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="fas fa-arrow-circle-left fa-fw"></i></a>
      {% else %}
        <span><i class="fas fa-arrow-circle-left fa-fw"></i></span>
      {% endif %}
    
      {% for p in (1..paginator.total_pages) %}
        {% if p == paginator.page %}
          <strong>{{ p }}</strong>
        {% elsif p == 1 %}
          <a href="{{ "/" | relative_url }}">{{ p }}</a>
        {% else %}
          <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', p }}">{{ p }}</a>
        {% endif %}
      {% endfor %}
    
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="fas fa-arrow-circle-right fa-fw"></i></a>
      {% else %}
        <span><i class="fas fa-arrow-circle-right fa-fw"></i></span>
      {% endif %}
    </div>
    {% endif %}
</div>
